body{

    background-color: #1b1b1b;

    color: white;

    font-family: Arial;

    margin: 0;

}

header{

    background-color: black;

    text-align: center;

    padding: 20px;

}

h1{

    text-shadow: 2px 2px 5px gray;

}

nav a{

    color: white;

    margin: 10px;

    text-decoration: none;

}

.hero{

    text-align: center;

    padding: 30px;

}

img{

    border-radius: 20px;

}

img:hover{

    transform: scale(1.05);

}


.hero h2{

    color: orange;

    font-size: 40px;

}

.hero ul{

    list-style: none;

    padding: 0;

}

.hero li{

    font-size: 24px;

    margin: 15px;

    color: white;
}

.date-section{

    text-align: right;

    padding: 20px;

}

footer{

    background-color: black;

    text-align: center;

    padding: 10px;

}
